<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/header') %>
        <main>
            <article id="visi-misi" class="bg-dark bg-opacity-25 py-5">
                <div class="container">
                    <div id="carousel-visi-misi" class="carousel" data-bs-ride="carousel">
                        <div class="carousel-inner px-5">
                            <div class="carousel-item active">
                                <div class="card">
                                    <div class="card-body text-center p-5">
                                        <h5 class="fs-3">SEJARAH</h5>
                                        <img src="/assets/images/logo_md.png" alt="" class="my-3">
                                        <p>
                                            <%= data[0].sejarah %>

                                        </p>
                                        <button type="button" class="btn btn-secondary py-3 px-5">Gabung Tim Kami Sekarang</button>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="card">
                                    <div class="card-body text-center p-5">
                                        <h5 class="fs-3">VISI</h5>
                                        <img src="/assets/images/logo_md.png" alt="" class="my-3">
                                        <p>
                                            <%= data[0].visi %>

                                        </p>
                                        <button type="button" class="btn btn-secondary py-3 px-5">Gabung Tim Kami Sekarang</button>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="card">
                                    <div class="card-body text-center p-5">
                                        <h5 class="fs-3">MISI</h5>
                                        <img src="/assets/images/logo_md.png" alt="" class="my-3">
                                        <p>
                                            <%= data[0].misi %>

                                        </p>
                                        <button type="button" class="btn btn-secondary py-3 px-5">Gabung Tim Kami Sekarang</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carousel-visi-misi" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carousel-visi-misi" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                    </div>
                </div>
            </article>
        </main>

        <footer>
            <%- include('../partials/footer') %>

        </footer>
        <script src="/assets/js/index.js"></script>

</body>

</html>